{{#if errorMessage}}
  <div class="alert alert-primary">
    Error: Unable to upload or parse CSV file: {{errorMessage}}
  </div>
{{/if}}
<div class='input-group'>
  <input
    multiple="true"
    type="file"
    accept=".csv"
    class="form-control"
    onchange={{action 'onchange' value='target.files'}}>
  <span class="input-group-btn">
    <button
      type="submit"
      class="btn btn-primary"
      {{action 'uploadCSV'}}>
      Upload
    </button>
  </span>
</div>
